/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  background: #333;
  color: white;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.update {
  min-width: auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(0, 202, 0);
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.background {
  padding: 20px;
  border-radius: 5px;
  background-color: #2b2b2b;
}


.input {
background-color: transparent;
border-radius: 5px;
resize: none;
max-height: 15px;
padding: 10px;
overflow-y: hidden;
color: white;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  display: grid;
  place-items: center;
}
